/* --- dark style --- */
a.msgpage:link{color:white;border:1px #eeeeee solid;margin-right:1px;padding:2 4 1 4;}
a.msgpage:visited, a.msgpage:active{color:white;border:1px #eeeeee solid;margin-right:1px;padding:2 4 1 4;}
a.msgpage:hover{color:#ff9000;text-decoration:underline;border:1px #eeeeee solid;margin-right:1px;padding:2 4 1 4;}
.visitedmsgpage{color:black;font-weight:bold;border:1px #eeeeee solid;margin-right:1px;padding:2 4 1 4;}
.msgpagenum{color:white;border:1px #eeeeee solid;margin-right:1px;padding:2 4 1 4;}
.pdpage{}
.pdpagetb{padding-top:4px;padding-bottom:3px}
.pdpgintd{}
.injppage{width:38px;height:19px;font-size:13px;border:solid white 1px;}
/*-code end-*/

body,textarea,pre,td,tt,div{font-size:13px;font-family:ו,Arial;}
body{background-image:url("dragon1.gif");background-repeat:repeat;margin:1px;}
p{margin:0}

pre,form{margin:0px;}
pre{
/*white-space: pre;white-space: -moz-pre-wrap;white-space: -hp-pre-wrap;white-space: -o-pre-wrap;white-space: -pre-wrap;white-space: pre-wrap;white-space: pre-line;word-wrap: break-word;word-break:break-all;word-spacing:normal;*/
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-all; /* IE */
word-break:break-all;
word-spacing:normal;
overflow:hidden;
}
table{border:0px inset gray;font-size:13px;}
tr{-moz-border-radius:0px;border:0;}
td{word-break:break-all;word-wrap:break-word;-moz-border-radius:0px;border:0;overflow:hidden;}

a,a.itempage,a.itemlink{text-decoration:none;}
a:link,a.itemlink:link{color:blue;}
a:visited, a:active{font:none;color:blue;}
a:hover{color:#FF8000;text-decoration:underline;}

a.itemlink:visited,a.itemlink:active{font:none;color:blue;text-decoration:underline;}
a.itemlink:hover{color:#FF8000;text-decoration:underline;}

a.goldlink:link{color:#FF8000;}
a.goldlink:visited, a.goldlink:active{color:#FF8000;}
a.goldlink:hover{color:blue;text-decoration:underline;}

a.whitelink:link{color:white;}
a.whitelink:visited, a.whitelink:active{color:white;}
a.whitelink:hover{color:#ff9000;text-decoration:underline;}

a.facepagelink{border:1px #CCCCCC solid;margin-right:1px;padding:2 4 1 4;}
a.facepagelink:link{border:1px #CCCCCC solid;margin-right:1px;color:blue;padding:2 4 1 4;}
a.facepagelink:visited, a.facepagelink:active{border:1px #CCCCCC solid;color:blue;margin-right:1px;padding:2 4 1 4;}
a.facepagelink:hover{border:1px #CCCCCC solid;border-bottom-color:#FF8000;color:#FF8000;margin-right:1px;padding:2 4 1 4;text-decoration:none;}

text{font-size:14px;}

#replaycontent{width:400px;height:260px;font-size:13px;}
#replaytitle{width:400px;font-size:13px;}

#smallspan{font-size:12px;}

.input30{width:30px;}

.sf12{font-size:12px;}

.darkfont{color:#909090;}
.lightfont{color:#ff9000;}
.darkfont12{color:#909090;font-size:12px}

.bar1,.bar2{background-color:#909090;color:white;}
.bar1b,.bar2b{background-color:#909090;color:white;border:1px solid #606060;}
.bar3{background-color:#b0b0b0;color:white;}

.bd1{border:solid #606060 1px;}
.bdtb1{border-top:1px solid #606060;border-bottom:1px solid #606060;}
.bdlt1{border-top:1px solid #606060;border-left:1px solid #606060;}
.bdltr1{border:1px solid #606060;border-bottom:0px;}
.bdltb1{border:1px solid #606060;border-right:0px;}
.bdlr1{border-left:1px solid #606060;border-right:1px solid #606060;}
.bdb1{border-bottom:1px solid #606060;}
.bdt1{border-top:1px solid #606060;}
.bdtr1{border-top:1px solid #606060;border-right:1px solid #606060;}
.bdl1{border-left:1px solid #606060;}
.bdr1{border-right:1px solid #606060;}
.bdlb1{border-bottom:1px solid #606060;border-left:1px solid #606060;}

.llbgc{background-color:#f2f2f2;}
.rightplain{background-color:#f0f0f0;}
#lp{background-color:#f0f0f0;width:160px}
#rs td{border-bottom:1px solid #606060;vertical-align:top}
#im td{vertical-align:top}
#lp div{text-align:center}
#lp div img{max-width:160px;max-height:200px;behavior:url(../images/face.htc)}
#tb,#lp p{padding:5 0;}
#tb{margin-left:-5px;padding-left:5px;border-bottom:1px dashed black}
#tb tt{float:right}
.hcar{position:absolute;top:-300px;width:380px;height:200px;border:0;left:161px;}
#pgs1{border-top:1px solid #606060;border-bottom:1px solid #606060}

.darkbar{background-color:#d9d9d9;}
.lightbar{background-color:#e0e0e0;}

.warningc{color:red;}

.menuc{background-color:#808080;padding:5px;}
.menuplain{visibility:hidden;background-color:#808080;z-index:1;position:absolute;top:10px;left:10px;padding:10px;line-height:26px;}

.pd1{padding:5px;}
.pd3{padding:1px;}
.pdt{padding-top:1px;}
.pdtb1{padding:5 0;}
.pdtb2{padding:4 0;}
.pdtb3{padding:1 0;}
.pdt1p{padding-top:1px;}
.pdtb1p{padding:1 0;}
.pdpgnone{padding-top:4px;padding-bottom:2px;}

.mgtb1{margin-top:1px;margin-bottom:1px;}

.bd1pd1{border:solid #606060 1px;padding:5px;}
.bdt1pdtb3p{border-top:1px solid #606060;padding-top:3px;padding-bottom:3px;}
.bdt1pdt5p{border-top:1px solid #606060;padding-top:5px;}

.fmlist{border:solid #606060 1px;height:150px;overflow:scroll;}
.hdiv{overflow:hidden;visibility:hidden;}
.hfdiv{position:absolute;top:10px;left:10px;visibility:hidden;}
.msgdiv{overflow:hidden;}

.inmtxt{width:400px;height:100px;font-size:13px;}
.incomm{width:400px;}
.incomms{width:420px;}
.innum{width:53px;}

/*--------for hide msg content------*/
.prem{float:left;}
.fxwin{border-top:1px solid #606060;padding-top:3px;padding-bottom:3px;white-space:-moz-pre-wrap;}

.hid{visibility:hidden;}

.uho{width:60px;height:60px;border:solid #606060 1px;}
#uh_showid{border:1px solid #606060;left:0px;top:-999px;position:absolute;background-color:white;}
.emo{width:50px;height:50px;margin:2px;border:solid #606060 1px;}
#em_showid{border:1px solid #606060;left:0px;top:0px;visibility:hidden;position:absolute;background-color:white;}

.gud{
padding:13;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-all; /* IE */
word-break:break-all;
word-spacing:normal;
}

.userinfo{padding:10px;LINE-HEIGHT:19px;font-size:12px;}

.leftmenu{background-color:#b0b0b0;color:white;padding:10;padding-left:20;LINE-HEIGHT:27px;}
.dbline{padding:5px;LINE-HEIGHT:20px;}

.mngp{
background-color:#eeeeee;
border:1px solid #909090;
visibility:hidden;
position:absolute;
width:147px;
top:0px;
left:0px;
padding:5px;
line-height:21px;
}

hr{height:0px;border:none;border-top:1px dashed #5e5e5e;}
.fr,#fr{float:right;margin-left:3px;}

.hb1p1{background-color:#909090;color:white;border:1px solid #606060;padding:5px;text-align:center;}
.hbp5{background-color:#909090;color:white;border:1px solid #606060;padding:5px;}

.d0{border-top:1px solid #606060;text-align:center;padding-top:60px;padding-bottom:60px;}
.tr{background-color:#eeeeee;}
.O{background-color:#909090;color:white;border:1px solid #606060;padding:5px}
#o{background-color:#b0b0b0;color:white;padding:5px;}
.tb{background-color:#909090;color:white;border:1px solid #606060;}
#X{background-color:#b0b0b0;color:white;padding:5px;}
.x{background-color:#b0b0b0;color:white;}

.menu{background-color:#eeeeee;line-height:26px;padding:16px;}

.p1{padding:1px;}
.p5,#p5{padding:5px;}
.FP{background-color:#eeeeee;padding:5px;line-height:22px;}

#E td{border:1px solid #606060;border-bottom:0;}
#mrt td{border-top:1px solid #606060;}
#mrt th{text-align:left;font-weight:normal;color:black;}

.blrp5{padding:5px;border-left:1px solid #606060;border-right:1px solid #606060;}
.bp5{padding:5px;border:1px solid #606060;}

.H,#H{padding:5px;border-left:1px solid #606060;border-right:1px solid #606060;}

.b,#b{border:1px solid #606060;}
.bl{border-left:1px solid #606060;}
.br{border-right:1px solid #606060;}
.bt{border-top:1px solid #606060;}
.bb{border-bottom:1px solid #606060;}
.blr{border-left:1px solid #606060;border-right:1px solid #606060;}

.help{padding:5px;background-color:#eeeeee;color:blank;}
.help a:link{color:#000;}
.help a:visited,a:active{color:#000;}
.help a:hover{color:blue;text-decoration:underline;}

a.PP{font-size:110%;text-decoration:none;padding:5px;margin-right:2px;border:1px solid blue;}
a.PP:link{color:#FF8000;}
a.PP:visited, a.itemlink:active{font:none;color:#FF8000;text-decoration:underline;}
a.PP:hover{color:blue;text-decoration:underline;}

#ui{padding:5px;border:1px solid #606060;line-height:19px;font-size:12px;color:#666666;}

#videowin{
background-color:#EEE;
border-top:3px;
border-bottom:1px;
border-left:0;
border-right:0;
border-color:#F5F5F5;
border-style:solid;
padding:5px;
line-height:1.3;
width:490px;
}
#videowin iframe{border:0;width:480;height:400;}
#videowin a{float:right;}
#attachs{border:1px solid #606060;line-height:2;padding:0 5;}
#attachs p{padding:5 0;border-top:1px solid #b0b0b0;}
#attachs img{margin:5 0 0;}
#attachs i{padding:2px;font-style:normal;background-color:#eeeeee;}

.Iimg{padding-top:1px;border-top:2px solid #cce}
.Ia{margin-left:1px;padding-left:1px;border-left:2px solid #cce}