body{margin:0px;border:0;overflow:hidden;background-color=transparent}
td,body{font-size:13px;}
pre{
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-all; /* IE */
word-break:break-all;
word-spacing:normal;
overflow:hidden;
margin:0;
}