
#ubgs{position:absolute;top:-100px;}

.bgtr img{margin:0 2;}
.bS{width:100%}
.bS td{vertical-align:top;line-height:150%;padding:5 0;}
.bS u{float:right;text-decoration:none;}
.bS b{font-weight:normal}
.bS i{color:#059;font-style:normal}
.bsel{border-bottom:2px solid #BBF}